Repository kappa-apps/kindly-api, pull requests merged in 2019-10, with the labels that each got.

#37 Criados endpoints de Usuário
  backend/.settings/org.eclipse.jdt.apt.core.prefs
  backend/src/main/java/com/kappa/kindly/KindlyAPI.java
  backend/src/main/java/com/kappa/kindly/controller/UserController.java
  backend/src/main/java/com/kappa/kindly/utils/CPF.java
Labels: back-end, melhoria

#42 Criados endpoints de Necessidades
  backend/src/main/java/com/kappa/kindly/controller/UserController.java
  backend/src/main/java/com/kappa/kindly/controller/WishlistController.java
  backend/src/main/java/com/kappa/kindly/utils/CPF.java
Labels: back-end, melhoria

#43 Criados endpoints de Ponto de Coleta
  backend/src/main/java/com/kappa/kindly/controller/CollectionPointController.java
Labels: back-end, melhoria

#44 Criados endpoints de Tipo de Donativo
  backend/src/main/java/com/kappa/kindly/controller/DonativeTypeController.java
Labels: back-end, melhoria

#45 Criados endpoints de Doação
  backend/src/main/java/com/kappa/kindly/controller/DonationController.java
Labels: back-end, melhoria

#46 Adicionados endpoints para instituição
  backend/src/main/java/com/kappa/kindly/controller/InstitutionController.java
Labels: back-end, melhoria

#51 Desfeito monorepo, migrado para um repositório exclusivo da API
  .mvn/wrapper/MavenWrapperDownloader.java
  .mvn/wrapper/maven-wrapper.properties
  .settings/org.eclipse.core.resources.prefs
  .settings/org.eclipse.jdt.apt.core.prefs
  .settings/org.eclipse.jdt.core.prefs
  .settings/org.eclipse.m2e.core.prefs
  .vscode/launch.json
  README.md
  frontend/README.md
  mvnw
  mvnw.cmd
  pom.xml
  src/main/java/com/kappa/kindly/KindlyAPI.java
  src/main/java/com/kappa/kindly/controller/CollectionPointController.java
  src/main/java/com/kappa/kindly/controller/DonationController.java
  src/main/java/com/kappa/kindly/controller/DonativeTypeController.java
  src/main/java/com/kappa/kindly/controller/InstitutionController.java
  src/main/java/com/kappa/kindly/controller/UserController.java
  src/main/java/com/kappa/kindly/controller/WishlistController.java
  src/main/java/com/kappa/kindly/model/Address.java
  src/main/java/com/kappa/kindly/model/CollectionPoint.java
  src/main/java/com/kappa/kindly/model/Donation.java
  src/main/java/com/kappa/kindly/model/DonationItem.java
  src/main/java/com/kappa/kindly/model/DonationItemID.java
  src/main/java/com/kappa/kindly/model/Donative.java
  src/main/java/com/kappa/kindly/model/DonativeType.java
  src/main/java/com/kappa/kindly/model/Institution.java
  src/main/java/com/kappa/kindly/model/User.java
  src/main/java/com/kappa/kindly/model/Wishlist.java
  src/main/java/com/kappa/kindly/model/WishlistItem.java
  src/main/java/com/kappa/kindly/repository/AddressRepository.java
  src/main/java/com/kappa/kindly/repository/CollectionPointRepository.java
  src/main/java/com/kappa/kindly/repository/DonationItemRepository.java
  src/main/java/com/kappa/kindly/repository/DonationRepository.java
  src/main/java/com/kappa/kindly/repository/DonativeRepository.java
  src/main/java/com/kappa/kindly/repository/DonativeTypeRepository.java
  src/main/java/com/kappa/kindly/repository/InstitutionRepository.java
  src/main/java/com/kappa/kindly/repository/UserRepository.java
  src/main/java/com/kappa/kindly/repository/WishlistItemRepository.java
  src/main/java/com/kappa/kindly/repository/WishlistRepository.java
  src/main/java/com/kappa/kindly/utils/CPF.java
  src/test/java/com/kappa/kindly/KindlyAPITests.java
Labels: arquitetura

#55 Adicionadas operação em cascata para os relacionamentos entre as Entidades
  src/main/java/com/kappa/kindly/model/Address.java
  src/main/java/com/kappa/kindly/model/CollectionPoint.java
  src/main/java/com/kappa/kindly/model/Donation.java
  src/main/java/com/kappa/kindly/model/Institution.java
  src/main/java/com/kappa/kindly/model/User.java
  src/main/java/com/kappa/kindly/model/Wishlist.java
Labels: back-end

#56 Corrigidos erros de endereço
  src/main/java/com/kappa/kindly/model/Address.java
Labels: back-end

#53 Adicionado suporte ao CORS
  src/main/java/com/kappa/kindly/KindlyAPI.java
  src/main/java/com/kappa/kindly/config/WebConfig.java
Labels: arquitetura, back-end
